VITE_API_KEY="AIzaSyA******"
VITE_AUTH_DOMAIN="*****.firebaseapp.com"
VITE_PROJECT_ID="*****"
VITE_STORAGE_BUCKET="*****.firebasestorage.app"
VITE_MESSAGING_SENDER_ID="20380*****"
VITE_APP_ID="1:*****:web:*****"
VITE_MEASUREMENT_ID="G-*****"
VITE_LOGO="https://mobile-market-six.vercel.app/assets/img/mobimart/mobimart.png"
VITE_APP_NAME="*****"
VITE_COLLECTION="collection_name"